/* Remoção dos dimensionamentos aplicados por padrão pelo navegador */

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* Estilização do cabeçalho da página */

.first {
    margin-left: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

h1 a {
    text-decoration: none;
    color: red;
}

body > header {
    background-color: red;
    padding: 16px 0px;
    color: red;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.cabeçalho li a:hover {
    border-bottom: 2px solid white;
}

.cabeçalho {
    align-items: baseline;
    display: flex;
    width: 1366px;
    margin: 0 auto;
    justify-content: space-between;
}

.cabeçalho img {
    width: 100px;
}

.adidas {
    position: relative;
    top: -10px;
    right: 560px;
}

/* Estilização das seções e artigos de forma conjunta */

.container {
    width: 1366px;
    margin: 0 auto;
    padding: 16px 0px;
}

.container .time {
    color: gray;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
    border-radius: 20px;
}

.articles article {
    width: 30%;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    margin-bottom: 4px;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
}

section h2 {
    margin-bottom: 16px;
}

.articles article a {
    background-color: red;
    color: white;
    padding: 5px;
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
    border-radius: 20px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p {
    color: white;
} 

.articles article a {
    font-family: Arial, Helvetica, sans-serif
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

.articles article .content {
    padding: 4px;
}

.time header {
    position: relative;
    left: 32%;
}

/* Estilização da seção de transferências */

#Transfers {
    background-color: blanchedalmond;
}

/* Estilização da seção de Dm */

#Dm {
    background-color: blanchedalmond;
}

/* Footer/Rodapé */

#footer {
    text-align: center;
    color: white;
    width: auto;
    height: 150px;
    background-color: black;
    margin-top: 0px;
}

#footer img {
    width: 100px;
}

#footer .homebutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#footer .homebutton img {
    width: 45px;
    background-color: black;
    border-radius: 20px;
}

